body {
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1, h2 {
  line-height: 1.2em;
  margin: 0 0 5px;
}

hgroup h1 {
  font-size: 26px;
  text-transform: uppercase;
}

hgroup h2 {
  font-size: 18px;
  font-weight: bold;
}

article {
  border-bottom: 3px solid #ccc;
  margin: 20px 0;
}

p.byline {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
}

p.dateline {
  font-size: 12px;
}

code {
  display:block;
  font-size: 14px;
  padding: 10px;
}

nav {
  border-bottom: 3px solid #ccc;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  border-bottom: 1px solid #DDD;
  padding: 12px 0;
}

nav li span {
  float: right;
  font-size: 12px;
}

.logo {
  float: right;
}

